Repository PIQuIL/QuCumber: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, lint-examples, run-notebooks

license-check:
  name: license-check
  entry: inv license-check
  language: system
  pass_filenames: false

lint-examples:
  name: lint-examples
  entry: inv lint-examples
  language: system
  pass_filenames: false

run-notebooks:
  name: run-notebooks
  entry: jupyter nbconvert --ExecutePreprocessor.timeout=-1 --to notebook --inplace --execute
  language: system

Add option to compute absolute SigmaZ magnetization
  qucumber/observables/pauli.py
Due: license-check

Fix bugs and clarify docs of ObservableBase and ObservableEvaluator
  qucumber/callbacks/metric_evaluator.py
  qucumber/callbacks/observable_evaluator.py
  qucumber/observables/observable.py
Due: license-check

Fix SWAP/Renyi observable and docs; Update tutorials
  examples/Tutorial1_TrainPosRealWaveFunction/tutorial_quantum_ising.ipynb
  examples/Tutorial2_TrainComplexWaveFunction/complex_fid_KL.pdf
  examples/Tutorial2_TrainComplexWaveFunction/saved_params.pt
  examples/Tutorial2_TrainComplexWaveFunction/tutorial_qubits.ipynb
  examples/Tutorial3_DataGeneration_CalculateObservables/saved_params_and_new_data.pt
  examples/Tutorial3_DataGeneration_CalculateObservables/tutorial_sampling_observables.ipynb
  examples/Tutorial4_MonitoringObservables/tutorial_monitor_observables.ipynb
  qucumber/observables/__init__.py
  qucumber/observables/entanglement.py
Due: license-check, lint-examples, run-notebooks

Update LICENSE file with incorporated software; Update notebook linting to be robust to IPython magics
  .build_tools/invoke/strip_magics.py
  .pre-commit-config.yaml
  LICENSE.md
  docs/conf.py
  setup.py
  tasks.py
Due: license-check

Clean up tests for magnetization observables and LambdaCallback
  qucumber/callbacks/lambda_callback.py
  qucumber/observables/pauli.py
  tests/test_callbacks.py
  tests/test_observables.py
Due: license-check

Stop using deprecated message kwarg of pytest.raises
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check

Update readthedocs.yml
  readthedocs.yml
Due: none

Update RTD config
  readthedocs.yml
Due: none

Revert "Update RTD config"
  readthedocs.yml
Due: none

[scipost] minor fixes
  docs/scipost/main.tex
Due: none

[examples] Re-run Tutorial 1
  examples/Tutorial1_TrainPosRealWaveFunction/fid_KL.pdf
  examples/Tutorial1_TrainPosRealWaveFunction/saved_params.pt
  examples/Tutorial1_TrainPosRealWaveFunction/tutorial_quantum_ising.ipynb
Due: lint-examples, run-notebooks

[docs] Update conf.py
  docs/conf.py
Due: license-check

Update license; Undo removal of RTD checking when setting html_theme
  LICENSE
  docs/conf.py
Due: license-check

Update License info in README
  README.md
Due: none

Fix bug in Timer callback
  qucumber/callbacks/timer.py
Due: license-check

[docs] Mock _tkinter to avoid build failure on RTD
  docs/conf.py
  readthedocs.yml
Due: license-check

[rtd] Attempted fix - Don't install package and mock all imports
  docs/conf.py
  readthedocs.yml
Due: license-check

[rtd] Attempted fix - Suppress unknown mimetype warnings in epub builder
  docs/conf.py
Due: license-check

Fix documentation of conditional probability functions in BinaryRBM; Stop building epub docs; Remove module-index from doc index
  docs/index.rst
  qucumber/rbm/binary_rbm.py
  readthedocs.yml
Due: license-check

Resolves Issue #83
  qucumber/rbm/binary_rbm.py
Due: license-check

Fix pytest deprecation warning
  tests/conftest.py
  tests/test_grads.py
  tox.ini
Due: license-check

Refine sphinx and matplotlib version requirements
  .build_tools/readthedocs/requirements.txt
  docs/conf.py
  setup.py
Due: license-check

[docs] Add __getitem__ to docs for Evaluator callbacks
  docs/callbacks.rst
Due: none

[tests] Add tests for cplx.real and cplx.imag
  tests/test_cplx.py
Due: license-check

Tweak pytorch version dependency
  setup.py
Due: license-check

[rtd] Stop using system packages during RTD build
  readthedocs.yml
Due: none

Refactor travis config
  .build_tools/build-wheels.sh
  .travis.yml
  examples/Tutorial1_TrainPosRealWavefunction/saved_params.pt
  examples/Tutorial1_TrainPosRealWavefunction/tutorial_quantum_ising.ipynb
  examples/Tutorial2_TrainComplexWavefunction/saved_params.pt
  examples/Tutorial2_TrainComplexWavefunction/tutorial_qubits.ipynb
  examples/Tutorial4_MonitoringObservables/tutorial_monitor_observables.ipynb
  setup.py
  tasks.py
  tox.ini
Due: license-check, lint-examples, run-notebooks

Add cibuildwheel stage to travis
  .travis.yml
Due: none

Simplify autoload fn and set gpu=True by default for consistency; Add test for autoload
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/positive_wavefunction.py
  qucumber/nn_states/wavefunction.py
  tests/test_models_misc.py
Due: license-check

Add testing against different pytorch versions in tox
  docs/spelling_wordlist.txt
  tasks.py
  tox.ini
Due: license-check

Simplify travis build step
  .travis.yml
Due: none

answer referee reports
  docs/scipost/SciPost_LaTeX_Template.pdf
  docs/scipost/main.tex
Due: none

Added review reference
  docs/scipost/bib/bibliography.bib
  docs/scipost/main.tex
Due: none

Biblio fixed, DIOs removed
  docs/scipost/bib/MLtomography.bib
  docs/scipost/bib/RBMphysics.bib
  docs/scipost/bib/RBMs.bib
  docs/scipost/bib/RGandDL.bib
  docs/scipost/bib/TNandDL.bib
  docs/scipost/bib/bibliography.bib
  docs/scipost/bib/moreReferences.bib
  docs/scipost/bib/representationsDL.bib
Due: none

Removed bib number field
  docs/scipost/bib/MLtomography.bib
  docs/scipost/bib/RBMphysics.bib
  docs/scipost/bib/RBMs.bib
  docs/scipost/bib/RGandDL.bib
  docs/scipost/bib/TNandDL.bib
  docs/scipost/bib/bibliography.bib
  docs/scipost/bib/moreReferences.bib
  docs/scipost/bib/representationsDL.bib
Due: none

added reply text file
  docs/scipost/reply.txt
Due: none

Resubmission version
  docs/scipost/main.tex
  docs/scipost/reply.txt
Due: none

Fix RenyiEntropy section to match current version of code
  docs/scipost/main.tex
Due: none

Path conditions:
  license-check: any of: \.py$
  lint-examples: any of: ^examples\/(.+)\/([^\/]+).ipynb
  run-notebooks: any of: ^examples\/(.+)\/([^\/]+).ipynb
