Repository PIQuIL/QuCumber: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, lint-examples, run-notebooks

license-check:
  name: license-check
  entry: inv license-check
  language: system
  pass_filenames: false

lint-examples:
  name: lint-examples
  entry: inv lint-examples
  language: system
  pass_filenames: false

run-notebooks:
  name: run-notebooks
  entry: jupyter nbconvert --ExecutePreprocessor.timeout=-1 --to notebook --inplace --execute
  language: system

Changed marker colors
  Peak.py
  ScalingPlots.py
Due: license-check

Adjusted font sizes
  apsSymmetry.mplstyle
Due: none

Change color of inlay
  Peak.py
Due: license-check

Switched indices
  symmetries.py
Due: license-check

Changed colors
  visualize.py
Due: license-check

Adjust font and linewidth
  apsSymmetry.mplstyle
  symmetries.py
Due: license-check

Compare with RNN and styling
  TPCorrelation.py
Due: license-check

minor
  qucumber/rbm/binary_rbm.py
  qucumber/utils/training_statistics.py
Due: license-check

Resolve issue #91: Bug in initialization of EarlyStopping class when using MetricEvaluator
  qucumber/callbacks/early_stopping.py
  tests/test_callbacks.py
Due: license-check

Update training_statistics docs
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
Due: license-check

Make training_statistics docs visible in sphinx
  docs/index.rst
  docs/training_statistics.rst
Due: none

Cleanup Makefile; Remove parallel docs build due to latex build errors
  docs/Makefile
Due: none

Workaround pandoc bug preventing latex environments being used in jupyter notebooks
  examples/Tutorial1_TrainPosRealWaveFunction/tutorial_quantum_ising.ipynb
  examples/Tutorial2_TrainComplexWaveFunction/tutorial_qubits.ipynb
Due: lint-examples, run-notebooks

Bump version 1.2.2 -> 1.2.3
  .appveyor.yml
  qucumber/__version__.py
Due: license-check

Resolves issue #92
  qucumber/utils/training_statistics.py
Due: license-check

Fix erroneous interface for apply function of SumObservable and ProductObservable
  qucumber/observables/observable.py
Due: license-check

Make cplx dtype-generic
  qucumber/utils/cplx.py
Due: license-check

Clarify documentation of unitaries.create_dict()
  qucumber/utils/unitaries.py
Due: license-check

Change Funding information.
  docs/scipost/main.tex
Due: none

Density Matrix implementation
  docs/conf.py
  docs/index.rst
  docs/quantum_states.rst
  docs/rbm.rst
  examples/Tutorial2_TrainComplexWaveFunction/saved_params.pt
  examples/Tutorial2_TrainComplexWaveFunction/tutorial_qubits.ipynb
  examples/Tutorial5_TrainDensityMatrix/N2_IC_bases.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_bases.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_data.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_target_imag.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_target_real.txt
  examples/Tutorial5_TrainDensityMatrix/tutorial_density_matrix.ipynb
  qucumber/nn_states/__init__.py
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/__init__.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/training_statistics.py
  tests/data/N2_W_bases.txt
  tests/data/N2_W_state_p0.50_100_samples_bases.txt
  tests/data/N2_W_state_p0.50_100_samples_data.txt
  tests/data/N2_W_state_p0.50_target_imag.txt
  tests/data/N2_W_state_p0.50_target_real.txt
  tests/data/adding_to_pkl_file.ipynb
  tests/data/test_grad_data.pkl
  tests/grads_utils.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check, lint-examples, run-notebooks

Get test directory path from pytest instead of manually
  tests/__init__.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check

Use pytest tmpdir for model saving tests
  tests/test_models_misc.py
Due: license-check

Clean up tasks, add full style check task
  tasks.py
Due: license-check

Add spellcheck sphinx extension; Enable nitpicky mode for sphinx builds by default
  docs/Makefile
  docs/conf.py
Due: license-check

Make documentation pass spelling tests
  docs/callbacks.rst
  docs/installation.rst
  docs/observable_statistics.rst
  docs/spelling_wordlist.txt
  qucumber/callbacks/metric_evaluator.py
  qucumber/callbacks/observable_evaluator.py
  qucumber/callbacks/variance_based_early_stopping.py
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/positive_wavefunction.py
  qucumber/nn_states/wavefunction.py
  qucumber/observables/interactions.py
  qucumber/utils/cplx.py
Due: license-check

Add more tox envs; Clean up extra requirement sets
  README.md
  setup.py
  tox.ini
Due: license-check

Refactor travis config
  .build_tools/build-wheels.sh
  .travis.yml
  setup.py
  tasks.py
  tox.ini
Due: license-check

Simplify autoload fn and set gpu=True by default for consistency; Add test for autoload
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/positive_wavefunction.py
  qucumber/nn_states/wavefunction.py
  tests/test_models_misc.py
Due: license-check

Add cibuildwheel stage to travis
  .travis.yml
Due: none

Add testing against different pytorch versions in tox
  docs/spelling_wordlist.txt
  tasks.py
  tox.ini
Due: license-check

Simplify travis build step
  .travis.yml
Due: none

stop checking pkg metadata
  .travis.yml
Due: none

Add restyled-io config
  .gitignore
  .restyled.yaml
  .travis.yml
Due: none

fix doc test fails
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
Due: license-check

minor
  tests/test_grads.py
Due: license-check

minor
  .travis.yml
  tox.ini
Due: none

minor
  .travis.yml
Due: none

Further integration with existing code, small fixes
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_1000_samples_bases.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_1000_samples_data.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_100_samples_bases.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_100_samples_data.txt
  examples/Tutorial5_TrainDensityMatrix/tutorial_density_matrix.ipynb
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
  tests/data/N2_W_bases.txt
  tests/data/N2_W_state_p0.50_100_samples_bases.txt
  tests/data/N2_W_state_p0.50_100_samples_data.txt
  tests/data/N2_W_state_p0.50_target_imag.txt
  tests/data/N2_W_state_p0.50_target_real.txt
  tests/data/adding_to_pkl_file.ipynb
Due: license-check, lint-examples, run-notebooks

Restyled by autopep8
  docs/conf.py
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check

Restyled by black
  docs/conf.py
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check

Path conditions:
  license-check: any of: \.py$
  lint-examples: any of: ^examples\/(.+)\/([^\/]+).ipynb
  run-notebooks: any of: ^examples\/(.+)\/([^\/]+).ipynb
