Repository PIQuIL/QuCumber: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, lint-examples, run-notebooks

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.6
-   repo: local
    hooks:
    - id: license-check
      name: license-check
      entry: inv license-check
      language: system
      types: [file, python]
      pass_filenames: false
    - id: lint-examples
      name: lint-examples
      entry: inv lint-examples
      language: system
      files: ^examples\/(.+)\/([^\/]+).ipynb
      pass_filenames: false
    - id: run-notebooks
      name: run-notebooks
      entry: jupyter nbconvert --ExecutePreprocessor.timeout=-1 --to notebook --inplace --execute
      language: system
      files: ^examples\/(.+)\/([^\/]+).ipynb

Restyled by reorder-python-imports
  docs/conf.py
  qucumber/nn_states/__init__.py
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check

Restyled by yapf
  docs/conf.py
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check

Restyled by autopep8
  docs/conf.py
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/density_matrix.py
  qucumber/nn_states/positive_wavefunction.py
  qucumber/nn_states/wavefunction.py
  qucumber/observables/entanglement.py
  qucumber/rbm/binary_rbm.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_cplx.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check

Restyled by black
  docs/conf.py
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/density_matrix.py
  qucumber/nn_states/positive_wavefunction.py
  qucumber/nn_states/wavefunction.py
  qucumber/observables/entanglement.py
  qucumber/rbm/binary_rbm.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_cplx.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check

Restyled by reorder-python-imports
  docs/conf.py
  qucumber/nn_states/__init__.py
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/density_matrix.py
  qucumber/nn_states/positive_wavefunction.py
  qucumber/nn_states/wavefunction.py
  qucumber/observables/entanglement.py
  qucumber/rbm/binary_rbm.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_cplx.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check

Restyled by yapf
  docs/conf.py
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/density_matrix.py
  qucumber/nn_states/positive_wavefunction.py
  qucumber/nn_states/wavefunction.py
  qucumber/observables/entanglement.py
  qucumber/rbm/binary_rbm.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_cplx.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check

setup tox travis
  .travis.yml
  docs/Makefile
  tasks.py
  tox.ini
Due: license-check

minor
  tox.ini
Due: none

minor
  .travis.yml
Due: none

minor
  .travis.yml
  tox.ini
Due: none

minor
  .travis.yml
  setup.py
  tox.ini
Due: license-check

minor
  setup.py
Due: license-check

minor
  docs/Makefile
Due: none

minor
  docs/spelling_wordlist.txt
Due: none

Update CI (#99)
  .build_tools/build-wheels.sh
  .gitignore
  .pre-commit-config.yaml
  .restyled.yaml
  .travis.yml
  README.md
  docs/Makefile
  docs/callbacks.rst
  docs/conf.py
  docs/installation.rst
  docs/observable_statistics.rst
  docs/spelling_wordlist.txt
  examples/Tutorial1_TrainPosRealWaveFunction/tutorial_quantum_ising.ipynb
  examples/Tutorial2_TrainComplexWaveFunction/complex_fid_KL.pdf
  examples/Tutorial2_TrainComplexWaveFunction/saved_params.pt
  examples/Tutorial2_TrainComplexWaveFunction/tutorial_qubits.ipynb
  examples/Tutorial3_DataGeneration_CalculateObservables/saved_params.pt
  examples/Tutorial3_DataGeneration_CalculateObservables/saved_params_and_new_data.pt
  examples/Tutorial3_DataGeneration_CalculateObservables/tutorial_sampling_observables.ipynb
  examples/Tutorial4_MonitoringObservables/tutorial_monitor_observables.ipynb
  qucumber/callbacks/metric_evaluator.py
  qucumber/callbacks/observable_evaluator.py
  qucumber/callbacks/variance_based_early_stopping.py
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/positive_wavefunction.py
  qucumber/nn_states/wavefunction.py
  qucumber/observables/interactions.py
  qucumber/utils/cplx.py
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
  setup.py
  tasks.py
  tests/__init__.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_training.py
  tox.ini
Due: license-check, lint-examples, run-notebooks

Fix examples
  .gitignore
  docs/conf.py
  docs/spelling_wordlist.txt
  examples/Tutorial1_TrainPosRealWaveFunction/tutorial_quantum_ising.ipynb
  examples/Tutorial2_TrainComplexWaveFunction/tutorial_qubits.ipynb
  examples/Tutorial3_DataGeneration_CalculateObservables/saved_params.pt
  examples/Tutorial3_DataGeneration_CalculateObservables/tutorial_sampling_observables.ipynb
Due: license-check, lint-examples, run-notebooks

changed refernces to 1 bib file
  docs/scipost/bib/new_references.bib
  docs/scipost/main.tex
Due: none
