Repository PIQuIL/QuCumber: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, lint-examples, run-notebooks

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.6
-   repo: local
    hooks:
    - id: license-check
      name: license-check
      entry: inv license-check
      language: system
      types: [file, python]
      pass_filenames: false
    - id: lint-examples
      name: lint-examples
      entry: inv lint-examples
      language: system
      files: ^examples\/(.+)\/([^\/]+).ipynb
      pass_filenames: false
    - id: run-notebooks
      name: run-notebooks
      entry: jupyter nbconvert --ExecutePreprocessor.timeout=-1 --to notebook --inplace --execute
      language: system
      files: ^examples\/(.+)\/([^\/]+).ipynb

minor CI related tweaks
  setup.py
  tasks.py
  tests/test_models_misc.py
  tox.ini
Due: license-check

minor
  qucumber/nn_states/neural_state.py
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_models_misc.py
Due: license-check

Cleanup docs and some functions in cplx
  qucumber/utils/cplx.py
Due: license-check

Rename and add default behaviour for auto_unsqueeze_arg decorator
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/neural_state.py
  qucumber/nn_states/positive_wavefunction.py
  qucumber/nn_states/wavefunction.py
  qucumber/rbm/binary_rbm.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/__init__.py
  qucumber/utils/data.py
  tests/test_models_misc.py
  tests/test_observables.py
Due: license-check

Reduce code duplication in training tests
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check

Test NLL grads by default as they've been fixed
  tests/conftest.py
  tests/test_grads.py
Due: license-check

Add density matrix training test
  tests/test_training.py
Due: license-check

Merge training tests into one parametrized test
  tests/test_training.py
Due: license-check

Add tests for observable sampling with DensityMatrix
  qucumber/nn_states/density_matrix.py
  qucumber/nn_states/positive_wavefunction.py
  tests/test_observables.py
Due: license-check

minor
  tests/test_observables.py
Due: license-check

minor
  tests/test_training.py
Due: license-check

Add more observables tests
  qucumber/observables/entanglement.py
  qucumber/observables/interactions.py
  qucumber/observables/observable.py
  qucumber/observables/pauli.py
  qucumber/observables/system.py
  tests/conftest.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_observables.py
  tests/test_training.py
  tox.ini
Due: license-check

Check if running tests in a single thread is faster
  .travis.yml
Due: none

Revert "Check if running tests in a single thread is faster"
  .travis.yml
Due: none

Update Tutorial4 to discuss writing observables for mixed states
  docs/spelling_wordlist.txt
  examples/Tutorial4_DataGeneration_CalculateObservables/tutorial_sampling_observables.ipynb
  qucumber/nn_states/density_matrix.py
  qucumber/nn_states/neural_state.py
  qucumber/nn_states/wavefunction.py
Due: license-check, lint-examples, run-notebooks

Rerun Tutorial2 with more hyperparameters more consistent with other tutorials
  examples/Tutorial2_TrainComplexWaveFunction/tutorial_qubits.ipynb
Due: lint-examples, run-notebooks

minor
  examples/Tutorial3_TrainDensityMatrix/tutorial_density_matrix.ipynb
  qucumber/utils/cplx.py
Due: license-check, lint-examples, run-notebooks

Fix rtd builds
  .build_tools/readthedocs/requirements.txt
  docs/conf.py
  setup.py
Due: license-check

Add initial_state arg to System; minor documentation fixes
  docs/spelling_wordlist.txt
  examples/Tutorial4_DataGeneration_CalculateObservables/tutorial_sampling_observables.ipynb
  qucumber/observables/system.py
Due: license-check, lint-examples, run-notebooks

Run black
  setup.py
Due: license-check

Add conj to cplx; Some light cleaning up
  qucumber/utils/cplx.py
Due: license-check

Observable init mc state (#104)
  docs/spelling_wordlist.txt
  examples/Tutorial4_DataGeneration_CalculateObservables/tutorial_sampling_observables.ipynb
  qucumber/nn_states/neural_state.py
  qucumber/nn_states/wavefunction.py
  qucumber/observables/observable.py
  qucumber/observables/pauli.py
  qucumber/observables/system.py
  qucumber/observables/utils.py
Due: license-check, lint-examples, run-notebooks

Add conj to cplx; Some light cleaning up (#105)
  qucumber/utils/cplx.py
Due: license-check

minor
  qucumber/nn_states/density_matrix.py
Due: license-check

Bump version 1.2.3 -> 1.3.0
  .appveyor.yml
  qucumber/__version__.py
Due: license-check

minor
  docs/quantum_states.rst
Due: none

Fix travis config
  .travis.yml
Due: none

Update README.md
  README.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

minor
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/density_matrix.py
Due: license-check

Update installation.rst
  docs/installation.rst
Due: none

Tweaked some formatting; fixed some grammar+spelling; added Matplotlib to spellcheck list
  docs/installation.rst
  docs/spelling_wordlist.txt
Due: none

minor
  docs/installation.rst
Due: none

Instructions update for Windows 10 and Anaconda install for PyTorch (#108)
  docs/installation.rst
  docs/spelling_wordlist.txt
Due: none

[docs] minor
  docs/installation.rst
Due: none
