Repository PIQuIL/QuCumber: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, lint-examples, run-notebooks

license-check:
  name: license-check
  entry: inv license-check
  language: system
  pass_filenames: false

lint-examples:
  name: lint-examples
  entry: inv lint-examples
  language: system
  pass_filenames: false

run-notebooks:
  name: run-notebooks
  entry: jupyter nbconvert --ExecutePreprocessor.timeout=-1 --to notebook --inplace --execute
  language: system

Abstract out gradient estimators
  qucumber/nn_states/neural_state.py
  qucumber/rbm/negative_phase_estimators/__init__.py
  qucumber/rbm/negative_phase_estimators/cd.py
  qucumber/rbm/negative_phase_estimators/exact.py
  qucumber/rbm/negative_phase_estimators/negative_phase_estimator.py
  qucumber/rbm/negative_phase_estimators/pcd.py
  tests/grads_utils.py
Due: license-check

Outline of UCD gradient estimator
  qucumber/rbm/binary_rbm.py
  qucumber/rbm/negative_phase_estimators/ucd.py
Due: license-check

Draft-form of UCD complete, still need to test + vectorize
  qucumber/rbm/negative_phase_estimators/__init__.py
  qucumber/rbm/negative_phase_estimators/ucd.py
Due: license-check

Fix UCD; still need to vectorize
  qucumber/rbm/binary_rbm.py
  qucumber/rbm/negative_phase_estimators/ucd.py
Due: license-check

Partially vectorize UCD
  qucumber/rbm/negative_phase_estimators/ucd.py
Due: license-check

Vectorize UCD
  qucumber/rbm/negative_phase_estimators/ucd.py
Due: license-check

Cleanup + Add tests for UCD
  qucumber/nn_states/neural_state.py
  qucumber/rbm/binary_rbm.py
  qucumber/rbm/negative_phase_estimators/ucd.py
  tests/conftest.py
  tests/grads_utils.py
  tests/test_training.py
Due: license-check

Optimized UCD
  .pre-commit-config.yaml
  qucumber/rbm/binary_rbm.py
  qucumber/rbm/negative_phase_estimators/ucd.py
Due: license-check

Fix UCD gpu bug
  qucumber/rbm/negative_phase_estimators/ucd.py
Due: license-check

Add renovate.json
  renovate.json
Due: none

Pin dependencies
  .build_tools/readthedocs/requirements.txt
Due: none

Create bors.toml
  bors.toml
Due: none

Update renovate.json
  renovate.json
Due: none

Fix flake8 style error F541
  qucumber/nn_states/neural_state.py
  tests/test_models_misc.py
Due: license-check

Fix miktex link in installation docs
  docs/installation.rst
Due: none

Update dependency torch to >=1.0,<1.7
  setup.py
Due: license-check

Delete bors.toml
  bors.toml
Due: none

Mergify: configuration update
  .mergify.yml
Due: none

Mergify: configuration update (#113)
  .mergify.yml
Due: none

Update CI to include Python 3.8 and new pytorch versions
  .appveyor.yml
  .travis.yml
  tox.ini
Due: none

Fix pytorch version incompatibility with python 3.8
  .travis.yml
  tox.ini
Due: none

[travis] torch env-var fix
  .travis.yml
Due: none

[travis] macOS tweaks
  .travis.yml
Due: none

[travis] possible fix for macOS
  .travis.yml
Due: none

[travis] possible fix for macOS
  .travis.yml
  tox.ini
Due: none

[travis] possible fix for macOS
  tox.ini
Due: none

[appveyor] dont install torchvision
  .appveyor.yml
Due: none

Update CI to include Python 3.8 and new pytorch versions (#114)
  .appveyor.yml
  .travis.yml
  tox.ini
Due: none

[examples] Change arXiv pdf link to link to abstract page
  examples/Tutorial3_TrainDensityMatrix/tutorial_density_matrix.ipynb
Due: lint-examples, run-notebooks

[docs] Increase timeout and number of retries for sphinx linkcheck
  docs/conf.py
Due: license-check

Mergify: configuration update (#116)
  .mergify.yml
Due: none

[docs] fix linkcheck_timeout type error
  docs/conf.py
Due: license-check

Prep to setup bump2version
  .appveyor.yml
  README.md
  setup.py
Due: license-check

Add bumpversion config
  .bumpversion.cfg
Due: none

minor
  CONTRIBUTING.md
Due: none

tweak arXiv badge in readme
  README.md
Due: none

[travis] Only push package to PyPI if tag is on master
  .travis.yml
Due: none

[renovate] Add merge-on-success label instead of trying to automerge
  renovate.json
Due: none

Path conditions:
  license-check: any of: \.py$
  lint-examples: any of: ^examples\/(.+)\/([^\/]+).ipynb
  run-notebooks: any of: ^examples\/(.+)\/([^\/]+).ipynb
