Repository PIQuIL/QuCumber: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, lint-examples, run-notebooks

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.6
-   repo: local
    hooks:
    - id: license-check
      name: license-check
      entry: inv license-check
      language: system
      types: [file, python]
      pass_filenames: false
    - id: lint-examples
      name: lint-examples
      entry: inv lint-examples
      language: system
      files: ^examples\/(.+)\/([^\/]+).ipynb
      pass_filenames: false
    - id: run-notebooks
      name: run-notebooks
      entry: jupyter nbconvert --ExecutePreprocessor.timeout=-1 --to notebook --inplace --execute
      language: system
      files: ^examples\/(.+)\/([^\/]+).ipynb

removed /bib/ directory for scipost mod
  docs/scipost/main.tex
  docs/scipost/ref.bib
Due: none

removed old bib files
  docs/scipost/bib/MLtomography.bib
  docs/scipost/bib/RBMphysics.bib
  docs/scipost/bib/RBMs.bib
  docs/scipost/bib/RGandDL.bib
  docs/scipost/bib/TNandDL.bib
  docs/scipost/bib/bibliography.bib
  docs/scipost/bib/moreReferences.bib
  docs/scipost/bib/ref.bib
  docs/scipost/bib/representationsDL.bib
  docs/scipost/main.tex
Due: none

Density Matrix implementation
  docs/conf.py
  docs/index.rst
  docs/quantum_states.rst
  docs/rbm.rst
  docs/spelling_wordlist.txt
  examples/Tutorial5_TrainDensityMatrix/N2_IC_bases.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_bases.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_data.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_target_imag.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_target_real.txt
  examples/Tutorial5_TrainDensityMatrix/tutorial_density_matrix.ipynb
  qucumber/nn_states/__init__.py
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/__init__.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/training_statistics.py
  setup.py
  tests/data/N2_W_bases.txt
  tests/data/N2_W_state_p0.50_100_samples_bases.txt
  tests/data/N2_W_state_p0.50_100_samples_data.txt
  tests/data/N2_W_state_p0.50_target_imag.txt
  tests/data/N2_W_state_p0.50_target_real.txt
  tests/data/adding_to_pkl_file.ipynb
  tests/data/test_grad_data.pkl
  tests/grads_utils.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check, lint-examples, run-notebooks

Further integration with existing code, small fixes
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_1000_samples_bases.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_1000_samples_data.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_100_samples_bases.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_100_samples_data.txt
  examples/Tutorial5_TrainDensityMatrix/tutorial_density_matrix.ipynb
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
  tests/data/N2_W_bases.txt
  tests/data/N2_W_state_p0.50_100_samples_bases.txt
  tests/data/N2_W_state_p0.50_100_samples_data.txt
  tests/data/N2_W_state_p0.50_target_imag.txt
  tests/data/N2_W_state_p0.50_target_real.txt
  tests/data/adding_to_pkl_file.ipynb
Due: license-check, lint-examples, run-notebooks

Fix tests
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  tests/grads_utils.py
  tests/test_grads.py
Due: license-check

Fix tests
  qucumber/rbm/purification_rbm.py
  tests/test_models_misc.py
Due: license-check

Fix tests
  qucumber/rbm/purification_rbm.py
Due: license-check

Fix notebook
  examples/Tutorial5_TrainDensityMatrix/tutorial_density_matrix.ipynb
Due: lint-examples, run-notebooks

Fix breaking docs builds
  docs/conf.py
  examples/Tutorial5_TrainDensityMatrix/tutorial_density_matrix.ipynb
  qucumber/nn_states/density_matrix.py
  qucumber/utils/training_statistics.py
Due: license-check, lint-examples, run-notebooks

Fix spelling errors in docs
  docs/spelling_wordlist.txt
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/data.py
Due: license-check

Fix travis timeouts on macOS
  .travis.yml
Due: none

minor
  .travis.yml
Due: none

Density Matrix Tomography (#97)
  .travis.yml
  docs/conf.py
  docs/index.rst
  docs/quantum_states.rst
  docs/rbm.rst
  docs/scipost/bib/MLtomography.bib
  docs/scipost/bib/RBMphysics.bib
  docs/scipost/bib/RBMs.bib
  docs/scipost/bib/RGandDL.bib
  docs/scipost/bib/TNandDL.bib
  docs/scipost/bib/bibliography.bib
  docs/scipost/bib/moreReferences.bib
  docs/scipost/bib/representationsDL.bib
  docs/scipost/main.tex
  docs/scipost/ref.bib
  docs/spelling_wordlist.txt
  examples/Tutorial5_TrainDensityMatrix/N2_IC_bases.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_1000_samples_bases.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_1000_samples_data.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_100_samples_bases.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_100_samples_data.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_target_imag.txt
  examples/Tutorial5_TrainDensityMatrix/N2_W_state_target_real.txt
  examples/Tutorial5_TrainDensityMatrix/tutorial_density_matrix.ipynb
  qucumber/nn_states/__init__.py
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/__init__.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/data.py
  qucumber/utils/training_statistics.py
  setup.py
  tests/data/test_grad_data.pkl
  tests/grads_utils.py
  tests/test_grads.py
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check, lint-examples, run-notebooks

Fixed error from importing data in a single basis
  qucumber/utils/data.py
Due: license-check

minor
  .pre-commit-config.yaml
  qucumber/nn_states/complex_wavefunction.py
  qucumber/utils/cplx.py
  tests/test_training.py
Due: license-check

Cleanup PurificationRBM; Add auto_unsqueeze_arg decorator
  qucumber/nn_states/positive_wavefunction.py
  qucumber/rbm/binary_rbm.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/__init__.py
Due: license-check

Vectorize some density matrix ops; Optimize rho rotation
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_grads.py
  tests/test_models_misc.py
Due: license-check

Introduce abstract NeuralState class
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/density_matrix.py
  qucumber/nn_states/neural_state.py
  qucumber/nn_states/positive_wavefunction.py
  qucumber/nn_states/wavefunction.py
  qucumber/rbm/binary_rbm.py
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_grads.py
Due: license-check

Reduce code duplication in NeuralState subclasses
  docs/quantum_states.rst
  qucumber/callbacks/metric_evaluator.py
  qucumber/callbacks/observable_evaluator.py
  qucumber/nn_states/__init__.py
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/density_matrix.py
  qucumber/nn_states/neural_state.py
  qucumber/nn_states/positive_wavefunction.py
  qucumber/nn_states/wavefunction.py
Due: license-check

Fix pytorch indexing type warning
  qucumber/utils/data.py
Due: license-check

Modify Observables to work with DensityMatrix
  qucumber/nn_states/density_matrix.py
  qucumber/nn_states/neural_state.py
  qucumber/nn_states/wavefunction.py
  qucumber/observables/entanglement.py
  qucumber/observables/pauli.py
Due: license-check

Absorb density matrix training staitistics into the main ones
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_training.py
Due: license-check

minor
  .gitignore
Due: none

Fix and cleanup gradient tests
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_grads.py
  tests/test_training.py
Due: license-check

Allow retrieval of only the 'diagonal' part of rho, gammas, and pi matrices
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/purification_rbm.py
  tests/test_models_misc.py
Due: license-check

Finish vectorizing density matrix gradients
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  tests/test_models_misc.py
Due: license-check

minor
  tests/test_models_misc.py
Due: license-check

minor
  qucumber/nn_states/density_matrix.py
  tasks.py
  tests/test_training.py
Due: license-check

minor
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/purification_rbm.py
  tasks.py
Due: license-check

Optimize NLL
  qucumber/utils/training_statistics.py
Due: license-check

Clean up gradient rotation code; Move psi/rho rotation code to unitaries.py
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/density_matrix.py
  qucumber/utils/cplx.py
  qucumber/utils/training_statistics.py
  qucumber/utils/unitaries.py
  tests/test_models_misc.py
  tests/test_training.py
Due: license-check

Cleanup; get things ready for more vectorization
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/density_matrix.py
  qucumber/nn_states/neural_state.py
Due: license-check

Vectorize complex wavefunction batch grads
  qucumber/nn_states/complex_wavefunction.py
  qucumber/utils/cplx.py
  qucumber/utils/training_statistics.py
  qucumber/utils/unitaries.py
Due: license-check

Vectorize density matrix batch grads
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/density_matrix.py
  qucumber/nn_states/neural_state.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/training_statistics.py
  qucumber/utils/unitaries.py
Due: license-check

Better batching support
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/binary_rbm.py
  qucumber/rbm/purification_rbm.py
Due: license-check

More optimizing
  qucumber/nn_states/complex_wavefunction.py
  qucumber/nn_states/density_matrix.py
  qucumber/nn_states/neural_state.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/cplx.py
  qucumber/utils/training_statistics.py
  qucumber/utils/unitaries.py
  tests/grads_utils.py
  tests/test_models_misc.py
Due: license-check

minor
  qucumber/utils/training_statistics.py
  qucumber/utils/unitaries.py
  setup.py
  tests/test_grads.py
  tox.ini
Due: license-check

lots of minor improvements; some deprecation warnings for training_statistics
  qucumber/nn_states/density_matrix.py
  qucumber/rbm/binary_rbm.py
  qucumber/rbm/purification_rbm.py
  qucumber/utils/__init__.py
  qucumber/utils/training_statistics.py
  tests/grads_utils.py
  tests/test_models_misc.py
Due: license-check

Update examples
  docs/index.rst
  examples/Tutorial1_TrainPosRealWaveFunction/tutorial_quantum_ising.ipynb
  examples/Tutorial2_TrainComplexWaveFunction/tutorial_qubits.ipynb
  examples/Tutorial3_DataGeneration_CalculateObservables/saved_params.pt
  examples/Tutorial3_TrainDensityMatrix/N2_IC_bases.txt
  examples/Tutorial3_TrainDensityMatrix/N2_W_state_1000_samples_bases.txt
  examples/Tutorial3_TrainDensityMatrix/N2_W_state_1000_samples_data.txt
  examples/Tutorial3_TrainDensityMatrix/N2_W_state_100_samples_bases.txt
  examples/Tutorial3_TrainDensityMatrix/N2_W_state_100_samples_data.txt
  examples/Tutorial3_TrainDensityMatrix/N2_W_state_target_imag.txt
  examples/Tutorial3_TrainDensityMatrix/N2_W_state_target_real.txt
  examples/Tutorial3_TrainDensityMatrix/tutorial_density_matrix.ipynb
  examples/Tutorial4_DataGeneration_CalculateObservables/quantum_ising_chain.py
  examples/Tutorial4_DataGeneration_CalculateObservables/tutorial_sampling_observables.ipynb
  examples/Tutorial4_MonitoringObservables/tutorial_monitor_observables.ipynb
  examples/Tutorial5_MonitoringObservables/quantum_ising_chain.py
  examples/Tutorial5_MonitoringObservables/tutorial_monitor_observables.ipynb
  examples/Tutorial5_TrainDensityMatrix/tutorial_density_matrix.ipynb
  qucumber/nn_states/density_matrix.py
Due: license-check, lint-examples, run-notebooks

minor bugfixes and some cleanup
  qucumber/nn_states/neural_state.py
  qucumber/utils/cplx.py
  qucumber/utils/training_statistics.py
  qucumber/utils/unitaries.py
Due: license-check
